body{
    background-image:url(./papiers-peints-piste-homme-et-des-athletes-de-terrain-avant-la-course-debut.jpg.jpg);
}
.box:nth-child(even) {
    background-color: #cccccc
};
.box:nth-child(odd) {
    background-color:#aaaaaa
};
.box{
    height: 190px;
    padding: 8px; 
    text-align: center;
    
};
#origne{
  align-content: center;
}
